body{
    margin: 0;
    padding-top:800px;
    text-align: center;
}

.profile{
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

#welcome{
    position: absolute;
    color: black;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    width: 100%;
    height: 100%;
    z-index: 9;
}

h1{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
}

#name{
     font-size: 50px;
     line-height: 1.2;
     font-family: 'Dancing Script', cursive;
}

#bio{
 padding: 50px;
 text-align: center;  
 font-family: 'Dancing Script', cursive;
}

h2{
    font-size: 30px; 
    font-weight: 300;
    font-family: monospace;
    color:black;
}

.line{
    height: 5px;
    background-color: #000;
    width: 700px;
    margin: 8px auto;
}

p{
    font-size: 17px;
}

.parallax-inner{
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.menu {
    position: fixed;
    width: 100%;
    top: 0px;
    margin-top: 0px;
    z-index: 10;
    background-color: white;
}


.links:hover{
    background-color: aqua;
    text-decoration: underline;
    font-size: 25px;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: darkturquoise;
    text-shadow: 2px 2px gray;
}

.article:hover{
    color: fuchsia
}

.links{
    color: fuchsia;
    padding-left:33px ;
    padding-right:25px ;
    font-family: fantasy;
    font-size: 20px;
    display: inline;
}

#writings a{
    color: blue;
    text-shadow: none;
    text-decoration: underline;
}

.contacts{
    display: inline !important;
    text-shadow: none !important; 
}

.contact a{
    text-shadow: none;
    display: inline;
}

.contact h3{
    display: inline;
}

